.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 5px;
}

.image {
  width: 300px;
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.additionalInfoCont {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.listItem {
  color: blue;
}
